version: "3"

services:
  app:
    build: .
    volumes:
      - ".:/usr/src/app"
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  mongo:
    image: mongo:4.0
    ports:
      - "27017:27017"
